<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_job_period_association.event.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @event_job_period_association.job.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @event_job_period_association.period.name %>
</p>


<%= link_to 'Edit', edit_event_job_period_association_path(@event_job_period_association) %> |
<%= link_to 'Back', event_job_period_associations_path %>
