<p id="notice"><%= notice %></p>

<h1>Listing Periods</h1>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= column_chart add_cappa_chart_data,
                 xtitle: 'Tag',
                 ytitle: 'Anzahl Zusatzkapazität',
                 library: {backgroundColor: '#fafafa', legend: {position: 'top'}},
                 stacked: true
%>
<br>

<table id="periods" class="display">
  <thead>
    <tr>
      <th>Periode</th>
      <th>Datum</th>
      <th>Zusätzliche Kapazität</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.time %></td>
        <td><%= period.add_cappa %></td>
        <td><%= link_to 'Anzeigen', period %></td>
        <td><%= link_to 'Bearbeiten', edit_period_path(period) %></td>
        <td><%= link_to 'Löschen', period, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <b>Anzahl Zusätzliche Kapazität:</b>
  <%= @sum_add_cappa %> Hilfskräfte
</p>

<p>
  <b>Anzahl Perioden:</b>
  <%= @number_of_periods %> Perioden
</p>


<%= form_tag change_periods_path %>
<div class="field">
  <%= label_tag :mynewnumber, "Meine neue Anzahl von Perioden" %>
  <%= text_field_tag :mynewnumber, @mynumber_of_periods  %>
</div>
<%= submit_tag "Anzahl Perioden anpassen" %>


<%= form_tag destroy_all_periods_path %>
<%= submit_tag "Alle Perioden löschen" %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>


