<%= form_for(@job) do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Event auswählen' %><br>
    <%= f.collection_select :event_id, Event.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
    </div>
  <div class="field">
    <%= f.label :jobtext %><br>
    <%= f.text_area :jobtext%>
  </div>
  <div class="field">
    <%= f.label :processing_time %><br>
    <%= f.text_field :processing_time %>
  </div>
  <div class="field">
    <%= f.label :ressource_demand %><br>
    <%= f.number_field :ressource_demand %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
