<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @job.event.name %>
</p>

<p>
  <strong>Vorgang:</strong>
  <%= @job.name %>
</p>
<p>
  <strong>Beschreibung:</strong>
  <%= @job.jobtext %>
</p>

<p>
  <strong>Bearbeitungsdauer:</strong>
  <%= @job.processing_time %>
</p>

<p>
  <strong>Kapazitätsbedarf:</strong>
  <%= @job.ressource_demand %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
