<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Anzahl Gäste:</strong>
  <%= @event.guest %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @event.eventtext %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @event.deadline %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
