<p id="notice"><%= notice %></p>

<p>
  <strong>Gams path url:</strong>
  <%= @gams_path.gams_path_url %>
</p>

<%= link_to 'Edit', edit_gams_path_path(@gams_path) %> |
<%= link_to 'Back', gams_paths_path %>
