<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Startseite",   root_path %></li>
        <li><%= link_to "Support",   support_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Event app", tcpsp_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Mein Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Ausloggen", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Einloggen", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>